# Chapter 1 - Clear data

First step is clear our data and create good structure from scraper

## Imports

In [25]:
import numpy as np
import pandas as pd

## Load data

In [81]:
df = pd.read_csv("../data/all_titles.csv")

## Data

In [83]:
del df['Unnamed: 2']

In [84]:
df.head()

   Artist                     Title
0  Bedoes                    Gustaw
1  Bedoes  Kwiat Polskiej Młodzieży
2  Bedoes              NaNaNa REMIX
3  Bedoes          #hot16Challenge2
4  Bedoes                   Jumpman

In [86]:
df.to_csv("../data/all_titles-clear.csv", index=False)